@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Jacques+Francois+Shadow&family=Markazi+Text:wght@400..700&family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&family=Pompiere&family=Yanone+Kaffeesatz:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Markazi+Text:wght@400..700&family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&family=Pompiere&family=Strait&family=Yanone+Kaffeesatz:wght@200..700&display=swap');

@import "tailwindcss";

@theme {
    --font-amarante:
        "Strait", sans-serif;

    --font-title: "Rye", serif;

    --font-para:
        "Strait", sans-serif;
}

.voiletButton {
    position: relative;
    transition: 0.3s ease all;
    background-color: #D76C82;
    z-index: 1;
}

.voiletButton:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #B03052;
    border-radius: 3px;
    z-index: -1;
}

/* red button */
.redButton {
    position: relative;
    transition: 0.3s ease all;
    z-index: 1;
    background-color: rgb(255, 92, 92);
    color: #3D0301;
}

.redButton:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #fb2626;
    border-radius: 3px;
    z-index: -1;
}


/* green button */
.greenButton {
    position: relative;
    transition: 0.3s ease all;
    z-index: 1;
    background-color: rgb(103, 216, 93);
    color: #3D0301;
}

.greenButton:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #32c900;
    border-radius: 3px;
    z-index: -1;
}


/* yellow button */
.yellowButton {
    position: relative;
    transition: 0.3s ease all;
    z-index: 1;
    background-color: rgb(240, 235, 79);
    color: #3D0301;
}

.yellowButton:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #c7d40f;
    border-radius: 3px;
    z-index: -1;
}


/* blue button */
.blueButton {
    position: relative;
    transition: 0.3s ease all;
    z-index: 1;
    background-color: rgb(83, 152, 255);
    color: #3D0301;
}

.blueButton:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #3646f4;
    border-radius: 3px;
    z-index: -1;
}

/* pink button */
.pinkButton {
    position: relative;
    transition: 0.3s ease all;
    z-index: 1;
    /* background-color: #EBE8DB;     */
}

.pinkButton:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #D76C82;
    border-radius: 3px;
    z-index: -1;
}

/* while button */
.whiteButton {
    position: relative;
    transition: 0.3s ease all;
    z-index: 1;
    background-color: #EBE8DB;
    color: #3D0301;
}

.whiteButton:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #881a1a;
    border-radius: 3px;
    z-index: -1;
}

/* light pink button */
.lightPinkButton {
    position: relative;
    transition: 0.3s ease all;
    z-index: 1;
    /* background-color: #EBE8DB;     */
}

.lightPinkButton:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #ffadbd3b;
    border-radius: 3px;
    z-index: -1;
}


/* hover effect of button */
.btnColor:hover,
.btnColor:focus {
    color: white;
}

.btnColor:hover:before,
.btnColor:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}