@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Markazi+Text:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Anaheim:wght@400..800&family=Genos:ital,wght@0,100..900;1,100..900&family=Niconne&family=Pompiere&family=Rye&family=Yanone+Kaffeesatz:wght@200..700&display=swap');

@import "tailwindcss";

@theme {
    --font-amarante: "Amarante", serif;
    --font-title: "Rye", serif;
    --font-para: "Pompiere", sans-serif;
}
